{% extends "base.html" %}

{% block titulo %}Home{% endblock  %}

{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenido a tu agenda cripto</h1>
        <p class="lead">Agrega tus criptos y contabiliza tu portafolio</p>
        <hr class="my-2">
        <p>Mas información</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Jumbo action name</a>
        </p>
    </div>
</div>

{% endblock  %}