{% extends "base.html" %}

{% block titulo %}Nosotros{% endblock  %}

{% block contenido %}
<div class="container">

    <h1>Una prueba de concepto</h1>
    <hr>
    <h3>Un crud de criptomonedas con Python y Django</h3>
    <br>
    <div class="list-group">
        <a href="https://github.com/JBEortiz" class="list-group-item list-group-item-action d-flex justify-content-between">github</a>
        <a href="https://www.instagram.com/juan.berenguer92/" class="list-group-item list-group-item-action">Instagram</a>
        
    </div>
    
</div>

{% endblock  %}
   